/* お仕事図鑑のページのみに反映されるcssです 。PHPはcategory.phpとsingle.phpです*/


.content {
  padding-top: 80px; 
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

.main-visual {
  width: 100%; 
  height: auto; 
  max-width: 1100px;
  display: block;   
  margin: 0 auto;
}
/* 記事部分の表示css */
.archive-container {
  max-width: 1000px;  
  margin: 0 auto;    
  padding: 0 20px;   
  margin-bottom: 120px
}
.archive-container .shigotozukann-list {
  display: flex;
  flex-direction: column; 
  gap: 120px;            
}
.archive-container .shigotozukann-item {
  width: 100%; 
  margin: 0;
}
.archive-container .shigotozukann-link {
  display: flex !important;
  align-items: center!important; 
  text-decoration: none;
  width: 100%;
}
.archive-container .shigotozukann-item.is-odd .shigotozukann-link {
  flex-direction: row !important; 
}
.archive-container .shigotozukann-item.is-even .shigotozukann-link {
  flex-direction: row-reverse !important; 
}
.archive-container .shigotozukann-img {
  width: 30% !important; 
  flex-shrink: 0;        
}
.archive-container .shigotozukann-img img {
  width: 100% !important;   
  height: auto !important;  
  display: block;
}
.archive-container .shigotozukann-body {
  width: 70% !important; 
}
.archive-container .shigotozukann-body {
  background-color: #fcf1f1 !important;
  padding: 40px !important;              
}
.archive-container .shigotozukann-item.is-odd .shigotozukann-body {
  text-align: right !important;
}
.archive-container .shigotozukann-item.is-even .shigotozukann-body {
  text-align: left !important;
}
.archive-container .shigotozukann-item.is-odd .shigotozukann-body {
  padding-left: 70px !important;
}
.archive-container .shigotozukann-item.is-even .shigotozukann-body {
  padding-right: 70px !important;
}

.archive-container .shigotozukann-link {
  color: #1a1a1a !important;
}

.archive-container .shigotozukann-tags span {
  color: #666666 !important;
}

.archive-container .shigotozukann-title {
  font-size: 26px !important;       
  font-weight: bold !important;     
  margin-bottom: 12px !important;   
  line-height: 1.4 !important;      
}
.archive-container .shigotozukann-catch {
  font-size: 16px !important;      
  line-height: 1.8 !important;      
  margin-bottom: 20px !important;  
}

/* 記事をクリックしたときに開くページの設定 */
.single-main {
  max-width: 1000px;  
  margin: 0 auto;    
  padding: 60px 20px; 
}

.single-header-area {
  display: flex;     
  gap: 40px;          
  align-items: center;
  margin-bottom: 40px;
}

.single-img-box {
  flex: 0 0 45%;     
}

.single-img-box img {
  width: 100%;        
  height: auto;      
}
.single-title-box {
  flex: 1;         
}

.single-job-title {
  font-size: 2rem;     
  font-family: "Shippori Mincho", serif; 
  color: #333333;      
  margin-bottom: 15px;  
  line-height: 1.4;     
}

.single-tags {
  display: flex;     
  flex-wrap: wrap;   
  gap: 10px;          
}

.single-tags span {
  font-size: 0.9rem;  
  color: #c09e6c;    
  font-weight: bold;  
}
