/* 全てのページに反映されるcssです */
@charset "UTF-8";

/* ----------共通部分 -------------*/
body{
  font-family:"big-caslon-fb", "Philosopher", "Josefin Sans", "Libre Baskerville", "Shippori Mincho", "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .05em;
  color: #1a1a1a;
  background-color: #ffffff;
}

.content {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; 
}

/* header */
.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #F5EEE2;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px; 
  height: 80px;    
}

.header-logo{
  font-size: 32px;   
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}
.header-logo a{
  font-family: "big-caslon-fb", serif;
  color: #7E9A8E;
  text-decoration: none;
  transition: .3s;
}
.header-logo a:hover {

  color: #06462a;
}

.gnav-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  color: #7E9A8E;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  letter-spacing: .05em;
  text-decoration: none;
  transition: .3s;
}

.gnav-item a:hover {
  color: #06462a;
}

/* main */
main {
  display: flex;
  flex-direction: column; 
  gap: 80px;             
}

/* footer */
.footer {
  width: 100%;
  background-color: #F5EEE2; 
  padding: 60px 0 40px;      
  text-align: center;       
}
.footer-logo {
  margin-bottom: 30px;
}

.footer-logo a {
  font-family: "big-caslon-fb", serif;
  font-size: 32px;           
  font-weight: bold;
  color: #7E9A8E;
  letter-spacing: .05em;
  text-decoration: none;
  transition: .3s;
}

.footer-logo a:hover {
  color: #06462a;
}
.footer-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 40px;
  gap: 30px;            
}

.footer-nav-item a {
  color: #7E9A8E;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  letter-spacing: .05em;
  text-decoration: none; 
  transition: .3s;
}

.footer-nav-item a:hover {
  color: #06462a;
}

.footer-sns {
  display: flex;
  justify-content: center;
  gap: 25px;                 
  margin-bottom: 50px;
}
.footer-sns img {
  width: 24px;              
  height: auto;
  transition: .3s;
}
.footer-sns img:hover  {
 transform: translateY(-6px);
}

/* copyright */

.copyright {
  font-size: 10px;
  color: #1a1a1a;
  letter-spacing: .05em;
}

