@charset "UTF-8";

/* ----------共通部分 -------------*/
body{
  font-family:"big-caslon-fb", "Philosopher", "Josefin Sans", "Libre Baskerville", "Shippori Mincho", "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .05em;
  color: #1a1a1a;
  background-color: #ffffff;
}

.content {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* 💡これで横方向のはみ出しを強制的にカットします */
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px; 
  height: 80px;    
}

.header-logo{
   font-size: 32px;   
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}
.header-logo a{
  font-family: "big-caslon-fb", serif;
  color: #7E9A8E;
}
.header-logo a:hover {
  transition: .3s;
  color: #06462a;
}
