/* TOPページのみに反映されるcssです。phpはhome.phpです */
@charset "UTF-8";


.content {
  padding-top: 80px; 
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

.main-visual {
  width: 100%; 
  height: auto; 
  max-width: 1100px;
  display: block;   
  margin: 0 auto;
}

.sub-visual{
   width: 80%;
   max-width: 1100px;
   height: auto;
   display: block;    
   margin: 0 auto;
}

/* ループ部分（記事） */

.shigotozukann-section{
  display: flex;
  justify-content: space-between; 
  gap: 20px;                     
  flex-wrap: wrap;  
  max-width: 1200px; 
  margin: 0 auto;
}

.shigotozukann-item{
  width: calc((100% - 40px) / 3); 
  list-style: none;
}

.shigotozukann-img img {
  width: 100%;
  height: auto;
  display: block;
}

.news_post_small_title {
  margin-top: 15px;     
}


.news_post_small_title p {
  color: #7E9A8E;      
  font-size: 14px;       
  font-weight: bold;     
  line-height: 1.5;      
  letter-spacing: .03em; 
  text-align: center;   
  text-decoration: none; 
}

.button-section {
  text-align: center;    
  margin-bottom: 100px; 
}

.button{
  display: inline-block;
  font-size: 1.5rem;
  background-color: #7E9A82;
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem;
  transition: .5s;
  text-decoration: none; 
}

.button:hover{
  background-color: green;
}

.button-section {
  margin-top: 70px;
  text-align: center;
}